# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform.lock.hcl
infra/.terraform.tfstate.lock.info

# Python
__pycache__/
*.pyc

# Docker
*.log

# VS Code or OS-specific
.vscode/
.DS_Store

#this is ansible documentation file 
ansible_documentation.txt

#Private and public ssh key
deploy_key
deploy_key.pub
